body {

    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

h1{

    margin-top: 50px !important;
    margin-bottom: 25px !important;
    background-color: rgb(7, 7, 156);
    color: white !important;
    border-radius: 5px;
}

.row {

    display: flex;
}